@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 90px;
  flex-direction: column;
}

.half {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.row-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(225deg, #08bab9, #23f3bd);
  color: white;
  font-size: 20px;
}

.header-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 10px;
  color: black;
  margin: 50px;
  margin-top: 120px;
  margin-bottom: 120px;
  padding-top: 40px;
  padding-bottom: 40px;

  -webkit-box-shadow: 0px 0px 75px -20px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 75px -20px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 75px -20px rgba(0,0,0,0.75);
}

.row-header a {
  width: 40%;
}

button {
  font-family: 'Roboto', sans-serif;
  background: #985f99;
  border: 0px;
  color: white;
  width: 100%;
  font-size: 20px;
  height: 40px;
  border-radius: 40px;
  font-weight: 300;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(152, 95, 153, 0.4);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  background: #815081;
}

p {
  padding-left: 50px;
  padding-right: 50px;
  line-height: 35px;
  text-align: justify;
}

h1 {
  text-align: center;
  margin: 5px;
  font-size: 60px;
  font-weight: 300;
}

h2 {
  text-align: center;
  margin: 5px;
  font-size: 35px;
  font-weight: 300;
}

.grey {
  background: #f2f4f8;
}

h3 {
  font-size: 25px;
  margin: 15px;
}

.horizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
}

.third {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  width: 80%;

  border-radius: 10px;

  -webkit-box-shadow: 0px 0px 75px -25px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 75px -25px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 75px -25px rgba(0,0,0,0.75);
}

.card h4 {
  font-size: 17px;
  margin-bottom: 0px;
}

.card p {
  line-height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.form {
  /* background: linear-gradient(45deg, #08bab9, #23f3bd); */
  background-image: linear-gradient(45deg, rgba(8, 186, 185, 0.75), rgba(35, 243, 189, 0.75)), url("img/class2.jpg");
  background-position: center;
  background-size: cover;
}

form {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 50%;
  background: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 5px;
  font-size: 17px;

  -webkit-box-shadow: 0px 0px 75px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 75px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 75px -15px rgba(0,0,0,0.75);
}

form input {
  background: #f2f4f8;
  border: 0px;
  width: 50%;
  font-size: 17px;
  height: 40px;
  margin-bottom: 30px;
  padding-left: 10px;
  border-radius: 5px;
}

form input:focus {
  background: white;
}

form button {
  width: 50%;
  margin-bottom: 30px;
}

.logos {
  justify-content: space-around;
  margin-top: 0px;
}

.logos a {
  width: 20%;
}

.logos a img {
  width: 100%;
  height: auto;
}

.speaker {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.speaker img {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

.module {
  margin-bottom: 40px;
}

.buttons {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttons button {
  padding-left: 50px;
  padding-right: 50px;
}

iframe {
  margin-top: 50px;
  margin-bottom: 50px;

  -webkit-box-shadow: 0px 0px 75px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 75px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 75px -15px rgba(0,0,0,0.75);
}

.alert-bar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  display: inline;
  padding-top: 30px;
  padding-bottom: 30px;

  background: black;
  color: white;
  font-size: 18px;
  padding-left: 20px;

  opacity: 80%;
}

.alert-bar a {
  color: #08bab9;
}
